:root {
  --black: #202020;
  --white: #fafafa;
	--gray: #bababa;
	--dark-gray: #41403E;
	--off-white: oldlace;
	--coral-accent: #F67272;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* App parent component */
.App {
	text-align: center;
	display: grid;
	grid-template-columns: 25% 75%;
	height: 100vh;
	background-color: var(--white);
	color: var(--black);
}

nav {
	padding: 0 1vw;
	display: grid;
	grid-gap: 2vh;
	grid-auto-rows: min-content;
	justify-items: center;
	background-color: var(--off-white);
}

.navButton {
	padding: 1rem;
	width: 70%;
	background: transparent;
	font-size: 1.3rem;
	letter-spacing: 1px;
	transition: all .2s ease, color .05s ease;
	box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	border: solid 2px var(--dark-gray);
	color: var(--black);
	text-decoration: none;
}

.navButton:hover {
	box-shadow: 2px 8px 4px -6px hsla(0,0%,0%,.3);
	font-weight: bold;
}

.navButton:active {
	color: var(--coral-accent);
	font-weight: bold;
}

main {
	padding: 0 2vw;
}


/* CONTACTS */
.border-box {
	padding: 12px;
	border: 1px solid var(--dark-gray);
	color: var(--black);
	transition: all .2s ease, color .05s ease;
	box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.contacts-list__item {
	list-style-type: none;
	margin: 20px 0;
}

.form-input {
	text-align: center;
	margin: 20px;
}

.contact-button {
	margin: 4px;
}